<footer class="footer_part">
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-lg-3">
    <div class="single_footer_part">
    <h4>About Us</h4>
    <p>
      PIK Assets Management specialize in investment properties across Europe, North America and Africa. 
      Our clients include Overseas Nationals,  We work differently to normal 
      Estate Agents and Letting Agents and provide a much more comprehensive service
       looking after all aspects of the property purchase and the subsequent long term management.
    </p>
    <a href="" class="footer_logo mb-5 d-block mb-sm-0"> <img src="/img/footer_logo.png" alt="#"> </a>
    </div>
    </div>
    <div class="col-sm-6 col-lg-3">
    <div class="single_footer_part">
    <h4>Contact Info</h4>
    <p>Headquaters :19 bld. 1, Barrikadnaya street, Moscow, 123242, Russia.</p>
    <p>Phone : +4479883792405</p>
    <p>Email : <a href="https://mailto:support@pikassetsmanagement.com" class="__cf_email__" data-cfemail="1d74737b725d7e7271726f71747f337e7270"> support@pikassetsmanagement.com</a></p>
    </div>
    </div>
    <div class="col-sm-6 col-lg-3">
    <div class="single_footer_part">
    <h4>Important Link</h4>
    <ul class="list-unstyled">
    <li><a href="about"> About</a></li>
    <li><a href="news">Our News</a></li>
    <li><a href="/dashboard">My Account</a></li>
    <li><a href="login">Sign in</a></li>
    <li><a href="register">Sign up</a> </li>
    <li><a href="contact">Contact us</a></li>
    <li><a href="terms">Terms</a></li>
    <li><a href="policy">Private policy</a></li>
    <li><a href="personal-data-consent">Personal data processing</a></li>
    </ul>
    </div>
    </div>
    <div class="col-sm-6 col-lg-3">
    <div class="single_footer_part">
    <h4>Newsletter</h4>
    <p>Register for our news letter to keep receiving updates and our latest deals
    </p>
    <div class="mail_part">
    <input type="text" placeholder="Email Address" class="placeholder hide-on-focus">
    <a href="#" class="email_icon"><i class="far fa-paper-plane"></i></a>
    </div>
    </div>
    </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-sm-6 col-lg-6">
    <div class="copyright_text">
    <P>
    Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved PIK-GROUP</a>
    </P>
    </div>
    </div>
    <div class="col-sm-6 col-lg-6">
    <div class="footer_icon">
    <!-- <ul class="list-unstyled">
    <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
    </ul> -->
    </div>
    </div>
    </div>
    </div>
    </footer>
    
    
    
    <script src="/js/jquery-1.12.1.min.js"></script>
    
    <script src="/js/popper.min.js"></script>
    
    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/jquery.magnific-popup.js"></script>
    
    <script src="/js/owl.carousel.min.js"></script>
    
    <script src="/js/jquery.easing.min.js"></script>
    
    <script src="/js/custom.js"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-23581568-13');
    </script>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/640bc68f4247f20fefe53617/1gr6vv8sm';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->