<!doctype html>
<html lang="en">

<head>

    <title>  About || PIK Assets management Real Estate</title>
    <%- include("../partials/home/headLinks.ejs") %>

<style>

  .ti-check-box{
    color : #cfb579;
  }
  .primary_deep{
    color : #a89057;
  }
  .dash{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
  .team-style1 .team-member-img {
      overflow: hidden;
      border-radius: 5px;
  }
  .team-member-img {
      width: 100%;
      height: auto;
  }
  .text-extra-dark-gray {
    color: #1e2022;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .team-style1 .team-member-img:hover img {
    transform: scale(1.1);
}
  .team-style1 .team-member-img img {
    transition: all 0.5s ease 0s;
    width: 100%;
    aspect-ratio: 9/12;
  }
  .dash:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #cfb579;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}
.background_dot{
  background: url("/img/dot.jpg");
}

</style>

<script nonce="7dd8e5db-26b9-43bf-94cd-7cf633fd9cfa">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>

<!-  Beginning of header ->
  <%- include("../partials/home/navbar.ejs") %>
<!- ####### end of header->

<section class="breadcrumb blog_bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb_iner">
<div class="breadcrumb_iner_item">
<h2>About Us</h2>
<p>Home<span class="ti-angle-double-right"></span>About Us</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="sample-text-area background_dot">
<div class="container">
<h1 class="text-heading">PIK GROUP</h1>
<p class="sample-text">
  PIK Group engages in the development, construction, investment, and sale of real estate properties.
   Its activities include production and assembly of pre-fabricated mass-market housing, 
   facility management of finished apartments and production of construction materials. 
   It operates through the following segments: Real Estate Development, Construction, Industrial, and Other.
    The Real Estate Development segment includes the implementation of developments planned,
     identification of investment opportunities, performing project management activities, and marketing of real estate projects. 
  The Construction segment involves in the production and assembly of prefabricated panel buildings and related activities.
   The Industrial segment manufactures concrete panels, window frames, and other construction materials.
    The Other segment provides real estate maintenance services to tenants, transportation services and other activities.
</p>

<br>

<div class="row gap-2">
  <div class="col-sm-5">
      <a href="https://www.forbes.com/companies/pik-group/?sh=74012abe4d4c" class="d-block">
        <blockquote class="generic-blockquote">
           What forbes list has to say about us
        </blockquote>
      </a>
  </div>
  <div class="col-sm-5">
    <a href="https://en.wikipedia.org/wiki/PIK_Group#Key_Statistics" target="_blank"  class="d-block">
        <blockquote class="generic-blockquote">
           Review our statistics history on wikipedia
        </blockquote>
      </a>
    <!- backgrouhnd color - #f9f9ff -->
  </div>
</div>
<br> <br>
<h1 class="mb-5">PIK ASSETS MANAGEMENT</h1>
<p class="sample-text">
  PIK-AM is a subsidiary of PIK-group. our primary focus is to help the average persons get into real estate,
   be it by buying properties or shares.For many years Real-Estate has always been a playground for only the wealthy, 
    whereas the middle class could only scratch the surface for profits through means like referrals and bonuses.
</p>
<br>
  <p class="sample-text">
    PIK-AM combats this by being the face of our investors in the Real-Estate market, 
    we provide nicely stepped investment plans options for our investors from all classes
     and financial level, which we are able to accomplish by combining investors with the same goal 
     and helping them get into the action without having to break the bank; This means 
     you don't have to own tens of millions of dollars to get started in real estate.
  </p>

  <br>
  <br>

  <div>
    <h2 class="mb-3"> Our Plans</h2>
    <p>
      Using our priceless connections in the Real-estate market and our team of expert advisors,
       we find investment opportunities in the Real-estate industry for our investors, 
       be it in the form of buying shares or properties. We have different plans opportunities for our investors.  
    </p>
    <br>
    <br>
    <h1 class="text-heading mb-1 primary_deep"> Shared Cluster</h1>  
    <p>
      In this plan, the money realized from investors is used to finance investment opportunies in Real-estate 
      by mostly trading shares or flipping properties/houses. This process is automatic and does not necessarily
      depend on the sale of a particular property: meaning that the investors <span style="color : green;"> capital + profit </span> is gauranteed on
      the given duration and without delay. terms and conditions applies.
      <br> 
    <small>
      The first shared cluster is a special offer provided for the season and for student investors who are low income earners or investors who wants to give it a first try.
        <br>
         <a href="#">terms and conditions applies.</a>
      </small>
      </p>
    <br>
    <br>
    <h1 class="text-heading mb-1 primary_deep"> Partnership Cluster</h1>  
    <p class="mb-3">
      The Partnership plan, is a dual investors plan,the deposits of two investors is used to purchase a property,
      after the purchase we effectively become your long-term tenants and agree to pay you guaranteed rent and maintain the properties at our cost. 
      You both fully own the property, benefit from long term guaranteed rental income and future property capital growth,
      but do not need to do anything – we do it all. 
      <br>
      The profits of the business will be distributed among the partners according to the percentage of percentage of the total amount deposited by both investors. 
      There is also an option to trade stocks with the total amount.
      <ul style="color : #797979">
        <li><span class="ti-check-box"></span> Lifetime payment  </li> <br/>
        <li><span class="ti-check-box"></span> percentage property and return is x-y between investors in x-y deposits</li> <br/>
        <li><span class="ti-check-box"></span> 100% of initial capital return</li> <br/>
      </ul>

    <small>
         <a href="#">terms and conditions applies.</a>
      </small>
    </p>
    <br>
    <br>

    <h1 class="text-heading mb-1 primary_deep"> Landlord Cluster</h1>  
    <p class="mb-3">
      The Partnership plan, is a dual investors plan,the deposits of two investors is used to purchase a property,
      after the purchase we effectively become your long-term tenants and agree to pay you guaranteed rent and maintain the properties at our cost. 
      You both fully own the property, benefit from long term guaranteed rental income and future property capital growth,
      but do not need to do anything – we do it all. 
      <br>
      The investor gets 100% of the profit share
      <ul style="color : #797979">
        <li><span class="ti-check-box"></span> Lifetime payment  </li> <br/>
        <li><span class="ti-check-box"></span> 100% of profit and property</li> <br/>
        <li><span class="ti-check-box"></span> 100% of initial capital return</li> <br/>
        <li><span class="ti-check-box"></span> Option to buy and live</li> <br/>
      </ul>

      <small>
         <a href="#">terms and conditions applies.</a>
      </small>
    </p>
  </div>
</div>
</div>
</section>


<section>
  <div class="container">
  <h1 class="text-heading dash"> Management Board</h1>
  
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-3 mt-1-9 text-center">
          <div class="team-style1">
              <div class="team-member-img">
                  <img class="img-responsive" src="https://imageio.forbes.com/specials-images/imageserve/58a397fa31358e1a35ab6448/0x0.jpg" alt="...">
              </div>
              <a href="https://www.forbes.com/profile/sergei-gordeev/?sh=688d0ce63b03" target="_blank" class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
                  <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Sergei Gordeev</div>
                  <div class="text-uppercase">CE0</div>
              </a>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 mt-1-9 text-center">
          <div class="team-style1">
              <div class="team-member-img">
                  <img class="img-responsive" src="https://fabrex.websitelayout.net/img/team/teammember-02.jpg" alt="...">
              </div>
              <a href="#" target="_blank" class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
                  <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Keir Prestonly</div>
                  <div class="text-uppercase">Co-Founder</div>
              </a>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 mt-1-9 text-center">
          <div class="team-style1">
              <div class="team-member-img">
                  <img class="img-responsive" src="https://fabrex.websitelayout.net/img/team/teammember-02.jpg" alt="...">
              </div>
              <a href="#" target="_blank" class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
                  <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Keir Prestonly</div>
                  <div class="text-uppercase">Top Marketer</div>
              </a>
          </div>
      </div>
    </div>
  </div>
  </section>


<!- Here lies the footer plus endscripts->
    <%- include("../partials/home/footer+endscripts.ejs") %>
 <!- end of footer and scripts ->

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"789d83543833b870","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

</html>