<!doctype html>
<html lang="en">

<head>

    <title>  About || PIK Assets management Real Estate</title>
    <%- include("../partials/home/headLinks.ejs") %>

<style>

  .ti-check-box{
    color : #cfb579;
  }
  .primary_deep{
    color : #a89057;
  }
  .dash{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
  .team-style1 .team-member-img {
      overflow: hidden;
      border-radius: 5px;
  }
  .team-member-img {
      width: 100%;
      height: auto;
  }
  .text-extra-dark-gray {
    color: #1e2022;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .team-style1 .team-member-img:hover img {
    transform: scale(1.1);
}
  .team-style1 .team-member-img img {
    transition: all 0.5s ease 0s;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9/12;
  }
  .dash:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #cfb579;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}
.background_dot{
  background: url("/img/dot.jpg");
}
.partners{
  max-width: 800px;
}
.partners img{
  height: 60px;
}

</style>

<script nonce="7dd8e5db-26b9-43bf-94cd-7cf633fd9cfa">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>

<!-  Beginning of header ->
  <%- include("../partials/home/navbar.ejs") %>
<!- ####### end of header->

<section class="breadcrumb blog_bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb_iner">
<div class="breadcrumb_iner_item">
<h2>About Us</h2>
<p>Home<span class="ti-angle-double-right"></span>About Us</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="sample-text-area background_dot">
<div class="container">
<h1 class="text-heading">Background </h1>

<p class="sample-text">
  PIK Group is a real estate development, construction, investment, and sales company.
   Its activities include prefabricated mass-market housing production and assembly,
    finished apartment facility management, and construction material production. It 
    operates in four divisions: real estate development, construction, industrial, and other.
     Real Estate Development includes the execution of planned developments, the identification 
     of investment opportunities, project management activities, and the marketing of real estate projects.
   The Construction segment is responsible for the production and assembly of prefabricated panel buildings,
    as well as other related activities. The Industrial sector produces concrete panels, window frames, and
     other building materials. The Other segment offers tenants real estate maintenance services,
      transportation services, and other activities.
      <a href="" target="_blank" rel="noopener noreferrer"> Read more</a>
</p>

<br>

<div class="row gap-2">
  <div class="col-sm-5">
      <a href="https://www.forbes.com/companies/pik-group/?sh=74012abe4d4c" class="d-block">
        <blockquote class="generic-blockquote">
           What forbes list has to say about us
        </blockquote>
      </a>
  </div>
  <div class="col-sm-5">
    <a href="https://en.wikipedia.org/wiki/PIK_Group#Key_Statistics" target="_blank"  class="d-block">
        <blockquote class="generic-blockquote">
           Review our statistics history on wikipedia
        </blockquote>
      </a>
    <!- backgrouhnd color - #f9f9ff -->
  </div>
</div>
<br> <br>
<h1 class="mb-5">PIK ASSETS MANAGEMENT</h1>
<p class="sample-text">
    The PIK-subsidiary group's is PIK-AM. Our main goal is
    to assist regular people in entering the real estate market, 
    whether by purchasing shares or properties. Real estate has long been
    considered the exclusive domain of the wealthy, with middle-class investors 
    only able to make a meager dent in profits through strategies like bonuses and referrals.
</p>
<p class="sample-text">
    PIK-AM is here to disrupt the segregation, We are using our influence and reach in the industry (being the 10th biggest realestate company in Europe)
    to find innovative solutions in every aspect of real estate.
    PIK-AM is both an Equity REITs and a Mortgage REITs (Hybrid REITs) given that we own and operate income-producing real estate, and lend money directly to real estate owners and operators or extend credit indirectly through the acquisition of loans or mortgage-backed securities
</p>

<div class="bg-white py-4">

  <img src="/img/steps.png" style="width: 100%;max-width: 800px;" class="mx-auto d-block" alt="How Reit investment works" >
</div>

<br>
  <p class="sample-text">
      PIK is a REITs (Real Estate investment trust) company. PIK provide an investment opportunity, 
     like a mutual fund, that makes it possible for everyday people—not just Wall Street, 
     banks, and hedge funds—to benefit from valuable real estate, present the opportunity to 
     access dividend-based income and total returns, and help communities grow, thrive, and revitalize.
     <br>

     PIK allow anyone to invest in portfolios of real estate assets the same way they invest in other industries 
    – through the purchase of individual company stock or through a mutual fund or exchange traded fund (ETF). 
    The stockholders of a PIK earn a share of the income produced – without actually having to go out and buy,
     manage or finance property. Approximately 23 million people live in households invested in and managed by PIK or PIK partners.

     <br>
  </p>
  <div class="container partners" >
    <div class="row py-5" style="row-gap:30px;">
      <div class="col-12 text-center h3">Some of mREIT partners</div>
      <div class="col-6 col-md-4 text-center bg-white "><a href="https://cbre.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxq8gVxawYjHJx30FGNsLiUfM1qjK82J2SRA&usqp=CAU" alt=""></a></div>
      <div class="col-6 col-md-4 text-center bg-white "><a href="https://www.compass.com/" target="_blank"><img src="https://www.livebuyers.com/wp-content/uploads/2022/05/Compass-White-300x176.png" alt=""></a></div>
      <div class="col-6 col-md-4 text-center bg-white "><a href="https://www.frasersproperty.com/" target="_blank"><img src="	https://www.asiabusinessoutlook.com/uploaded_images/company_logos/aivoalogo3.jpg" alt=""></a></div>
      <div class="col-6 col-md-4 text-center bg-white "><a href="https://jbinfragroup.com/" target="_blank"><img src="	https://www.asiabusinessoutlook.com/uploaded_images/company_logos/w7e1rlogo6.jpg" alt=""></a></div>
      <div class="col-6 col-md-4 text-center bg-white "><a href="https://exitrealty.com/" target="_blank"><img src="https://www.livebuyers.com/wp-content/uploads/2022/05/exit_logo-300x123.png" alt=""></a></div>
      <div class="col-6 col-md-4 text-center bg-white "><a href="https://www.wetag.ch/en/landings/switzerland-real-estate/" target="_blank"><img src="	https://www.wetag.ch/images/icons/logo-sticky.svg" alt=""></a></div>
    </div>
  </div>
  <h2 class="my-4"> How does PIK make money ?</h2>
  <p class="sample-text">
    PIK operate along a straightforward and easily understandable business model:
    <br>
    <ol>
      <li class="my-2">
        <span class="fw-bold">Interest Income:</span> (mortgage REITs) We invest in mortgages and mortgage-backed securities that generate interest income. 
        The mortgages are secured by real estate and borrowers pay interest on the loans. 
        The mortgage REIT earns income from the interest paid by borrowers.
      </li>
      <li class="my-2">
        <span class="fw-bold">Rental income:</span> PIK earn income from renting out the properties they own. The rental income comes from tenants who pay rent to use the property, which is then distributed to the shareholders.
      </li>
      <li class="my-2">
        <span class="fw-bold">Capital appreciation:</span> REITs can also make money by buying properties 
        that appreciate in value over time. When a property's value increases, the REIT can sell
         it for a profit, which can then be distributed to shareholders.
      </li>
      <li class="my-2">
        <span class="fw-bold">Development and redevelopment:</span> 
         PIK also generates income by developing or redeveloping properties. This involves buying land, constructing buildings, and improving existing properties, which can then be leased or sold for a profit.
      </li>
      <li class="my-2">
        <span class="fw-bold">Operating Income: </span> 
        PIK also generate income from operating businesses within our properties, such as hotels or restaurants.
      </li>
    </ol>
  </p>

  <h2 class="my-4"> What assets do PIK own ?</h2>
    <p class="sample-text">
      PIK invest in a wide scope of real estate property types, including offices, 
      apartment buildings, warehouses, retail centers, medical facilities, data centers, 
      cell towers, infrastructure and hotels. Some of the REITs sectors PIK invests in.
      
      <div class="container">
        <ul class="row">
          <li class="col-12 col-sm-6">
            <h4 class="my-3"> Office REITs</h4>
            <p class="sample-text">
                PIK owns and manage office real estate and rent space in these properties to tenants.
               These properties can range from skyscrapers to office parks. PIK focus on specific 
               types of markets, such as central business districts or suburban areas. Some emphasize specific 
               classes of tenants, such as government agencies or biotech firms
            </p>
          </li>
          <li class="col-12 col-sm-6">
              <h4 class="my-3"> Industrial REITs</h4>
              <p class="sample-text">
                We deal in properties such as warehouses and distribution centers. 
                these play an important part in e-commerce and are helping to meet the rapid delivery demand.
              </p>
          </li>
          <li class="col-12 col-sm-6">
            <h4 class="my-3"> Retail REITs</h4>
            <p class="sample-text">
              Here we invest in regional malls, outlet centers, grocery-anchored shopping centers and power centers that feature big box retailers
            </p>
          </li>
          <li class="col-12 col-sm-6">
            <h4 class="my-3"> Lodging/Resort REITs</h4>
            <p class="sample-text">
                Lodging REITs owns different classes of hotels based on features such as
              the hotels’ level of service and amenities. Our lodging REITs service a wide spectrum of customers, from business travelers to vacationers
            </p>
          </li>
          <li class="col-12 col-sm-6">
            <h4 class="my-3"> Residential REITs </h4>
            <p class="sample-text">
              we partner with REITs who own and manage various forms of residences and rent space in these properties to tenants.
              these rents are mostly paid back to investors as dividends.
              Some of our Residential investments includes investing in apartment buildings, student housing, manufactured homes and single-family homes. 
            </p>
          </li>
          <li class="col-12 col-sm-6">
            <h4 class="my-3">Timberlands REITs </h4>
            <p class="sample-text">
              Our most recent partnership has to do with REITs that are into harvesting and selling of timber.
            </p>
          </li>
          <li class="col-12 col-sm-6">
              <h4 class="my-3">Healthcare </h4>
              <p class="sample-text">
                Our Health care REITs’ property types include senior living facilities, hospitals, medical office buildings and skilled nursing facilities.
              </p>
          </li>
          <li class="col-12 col-sm-6">
            <h4 class="my-3"> Self Storage REITs</h4>
            <p class="sample-text">
              REITs self storage own and manage storage facilities and collect rent from customers. Our Self-storage REITs are patronized by both individuals and businesses
            </p>
          </li>
        </ul>
      </div>
      <div>
    </p>
  </div>

  <div class="mt-4">
    <h2 class="mb-3"> Our Plans</h2>
    <br>
    <h1 class="text-heading mb-1 primary_deep"> Shared Cluster</h1>  
    <p>
      In this plan, the money realized from investors is used to finance investment opportunies in Real-estate 
      by mostly trading shares or flipping properties/houses. This process is automatic and does not necessarily
      depend on the sale of a particular property.
      <br> 
      <ul style="color : #797979">
        <li class="d-block my-3"><span class="ti-check-box"></span> x% (roi) after the plan duration </li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> 100% capital + interest</li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> Option to Retain</li> 
      </ul>
      </p>
    <br>
    <br>
    <h1 class="text-heading mb-1 primary_deep"> Partnership Cluster</h1>  
    <p class="mb-3">
      The partnership cluster is a team or dual investor plan (with 2 or 4 partners). It is ideal for friends and family, as well as coworkers, who want to earn or hold assets together without jeopardizing their relationship.
      Following the formation of a partnership and the start of the plan, the PIK algorithm handles dividend distribution and member payment (total generated + capital income is split equally among members).
      <br>
      No Member 
      <br>
      <ul style="color : #797979">
        <li class="d-block my-3"><span class="ti-check-box"></span> Lifetime payment  </li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> percentage property and return is x-y between investors in x-y deposits</li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> 100% of initial capital return</li> 
      </ul>
    </p>
    <br>
    <br>

    <!-- <h1 class="text-heading mb-1 primary_deep"> Landlord Cluster</h1>  
    <p class="mb-3">
      This cluster is for investors who looking to purchase a property for personal use or commercial.
      After your purchase, we effectively become your long-term tenants and agree to pay you guaranteed 
      rent and maintain the properties at our cost. You fully own the property, benefit from long term 
      guaranteed rental income and future property capital growth, but do not need to do anything – we do it all.
      <br>
      <ul style="color : #797979">
        <li class="d-block my-3"><span class="ti-check-box"></span> Lifetime payment  </li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> 100% of profit and property</li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> 100% of initial capital return (if you decide to sell)</li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> Property Appreciation </li> 
        <li class="d-block my-3"><span class="ti-check-box"></span> Option to Retain</li> 
      </ul>

      <small>
         <a href="#">terms and conditions applies.</a>
      </small>
    </p> -->
  </div>
</div>
</div>
</section>


<section>
  <div class="container">
  <h1 class="text-heading dash"> Management Board</h1>
  
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-3 mt-1-9 text-center">
          <div class="team-style1">
              <div class="team-member-img">
                  <img class="img-responsive" src="https://imageio.forbes.com/specials-images/imageserve/58a397fa31358e1a35ab6448/0x0.jpg" alt="...">
              </div>
              <div  class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
                <a href="https://www.forbes.com/profile/sergei-gordeev/?sh=688d0ce63b03">
                  <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Sergei Gordeev</div>
                  <div class="text-uppercase">CEO</div>
                </a>
                    <ul class="list-unstyled justify-content-between d-flex mt-3 py-2 px-3">
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-instagram"></i></a></li>
                    </ul>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 mt-1-9 text-center">
        <div class="team-style1">
            <div class="team-member-img">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Pisarev_Kirill.jpg" alt="...">
            </div>
            <div  class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
              <a href="https://en.wikipedia.org/wiki/Kirill_Pisarev">
                <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Kirill Pisarev</div>
                <div class="text-uppercase">FOUNDER</div>
              </a>
                  <ul class="list-unstyled justify-content-between d-flex mt-3 py-2 px-3">
                  <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-instagram"></i></a></li>
                  </ul>
            </div>
        </div>
    </div>
      <div class="col-md-6 col-lg-3 mt-1-9 text-center">
          <div class="team-style1">
              <div class="team-member-img">
                  <img class="img-responsive" src="/img/redd.jpeg" alt="...">
              </div>
              <div  class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
                <a href="">
                  <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Redd Igor</div>
                  <div class="text-uppercase">CO-FOUNDER</div>
                </a>
                    <ul class="list-unstyled justify-content-between d-flex mt-3 py-2 px-3">
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-instagram"></i></a></li>
                    </ul>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 mt-1-9 text-center">
          <div class="team-style1">
              <div class="team-member-img">
                  <img class="img-responsive" src="/img/maria-lopez.jpeg" alt="...">
              </div>
              <div  class="d-block text-center mt-4 mb-3 pb-3 border-bottom">
                <a href="">
                  <div class="text-extra-dark-gray font-weight-600 text-uppercase alt-font">Maria Lopez</div>
                  <div class="text-uppercase">Digital Marketer</div>
                </a>
                    <ul class="list-unstyled justify-content-between d-flex mt-3 py-2 px-3">
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="single_social_icon p-3 bg-light"><i class="fab fa-instagram"></i></a></li>
                    </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
  </section>

<!- Here lies the footer plus endscripts->
    <%- include("../partials/home/footer+endscripts.ejs") %>
 <!- end of footer and scripts ->

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"789d83543833b870","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

</html>