<!doctype html>
<html lang="en">

<head>

    <title>  Corporate Information || PIK Assets management Real Estate</title>
    <%- include("../partials/home/headLinks.ejs") %>

<style>

  .ti-check-box{
    color : #cfb579;
  }
  .primary_deep{
    color : #a89057;
  }
  .dash{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
  .team-style1 .team-member-img {
      overflow: hidden;
      border-radius: 5px;
  }
  .team-member-img {
      width: 100%;
      height: auto;
  }
  .text-extra-dark-gray {
    color: #1e2022;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .team-style1 .team-member-img:hover img {
    transform: scale(1.1);
}
  .team-style1 .team-member-img img {
    transition: all 0.5s ease 0s;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9/12;
  }
  .dash:after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #cfb579;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}
.background_dot{
  background: url("/img/dot.jpg");
}
.partners{
  max-width: 800px;
}
.partners img{
  height: 60px;
}

</style>

<script nonce="7dd8e5db-26b9-43bf-94cd-7cf633fd9cfa">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>

<!-  Beginning of header ->
  <%- include("../partials/home/navbar.ejs") %>
<!- ####### end of header->

<section class="breadcrumb blog_bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb_iner">
<div class="breadcrumb_iner_item">
<h2>About Us</h2>
<p>Home<span class="ti-angle-double-right"></span>Corporate Info</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="sample-text-area background_dot">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">General Information</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Corporate Governance</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="mt-5">
                    <h1 class="mb-3"> Vision & Mission </h1>
                    <p class="sample-text">
                        We create state-of-the-art technologies, services and products that allow us to find innovative solutions in every aspect of living spaces. Our mission is to disrupt living, making it more comfortable, ecological and safe.
                    </p>
                    <h1 class="my-3"> Reports </h1>
                    <div class="mt-4">
                        <h3 class="my-3"> 2021 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="https://db-estate.media.pik-service.ru/different/2022/06/24/fs_pik_12m2021_eng_pik-sz_signed_2WW8NHc3KyqAf4hW.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 12 months ended 31 December 2021
                        </a>
                        <a target="_blank" href="https://1.db-estate.cdn.pik-service.ru/attachment_pikru/0/23a62658-5b6d-11e9-b210-0050568d0d31/fs_pik_6m2021_eng_d646d4f0ca7dd1fc3d2572d8b42952fa.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 6 months ended 30 June 2021
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2020 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="https://1.db-estate.cdn.pik-service.ru/attachment_pikru/0/51bb6dbe-773e-11e5-8124-001ec9d8c6a2/fs_pik_12m2020_eng_e76ff51adeaf46a38357a794cfe13822.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 12 months ended 31 December 2020
                        </a>
                        <a target="_blank" href="https://2.db-estate.cdn.pik-service.ru/attachment_pikru/0/1b89fbdc-253a-11e9-a0c6-0050568d0d31/pik-1h2020-ifrs-eng_bef028eb82a351b3cadca10a6f67ab4a.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 6 months ended 30 June 2020
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2019 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="https://1.db-estate.cdn.pik-service.ru/attachment_pikru/0/3aaaaefa-5609-11e9-b282-0050568d0d31/pik-ifrs-2019_eng_dc56c250f577140615e4988320a5ac0c.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 12 months ended 31 December 2019
                        </a>
                        <a target="_blank" href="https://2.db-estate.cdn.pik-service.ru/attachment_pikru/0/dd63bf8d-2a20-11e9-a0c6-0050568d0d31/fs_pik_6m2019_eng_final.pdf_559d27dbb63d0b54d959ab281b503fcc.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                    Сonsolidated Financial Statements for the 6 months ended 30 June 2019
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2018 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="https://1.db-estate.cdn.pik-service.ru/attachment_pikru/0/dd63bf8d-2a20-11e9-a0c6-0050568d0d31/fs_pik_12m2018_eng_final.pdf_e9dc88d44f25b410d00fff07bc3b5378.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 12 months ended 31 December 2018
                        </a>
                        <a target="_blank" href="http://pik-group.ru.media.pik-service.ru/attachment/statement_2018_en.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                    Сonsolidated Financial Statements for the 6 months ended 30 June 2018
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2017 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="https://2.db-estate.cdn.pik-service.ru/attachment_pikru/0/e6e85625-a599-11e6-8483-001ec9d8c6a2/pik-group-ifrs-statement-december-31-2017_aefda1bf0b9acf3ce0d09215ab8fd638.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 12 months ended 31 December 2017
                        </a>
                        <a target="_blank" href="https://2.db-estate.cdn.pik-service.ru/attachment_pikru/0/dd63bf8d-2a20-11e9-a0c6-0050568d0d31/fs_pik_6m2017_eng_final_b3fa015e42769fbea63bec9752e1c9a2.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 6 months ended 30 June 2017
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2016 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="http://pik-group.ru.media.pik-service.ru/attachment/FS_2016_12m_ENG_FINAL_FOR_PRINT.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                    Сonsolidated Financial Statements for the 12 months ended 31 December 2016
                        </a>
                        <a target="_blank" href="http://pik-group.com.media.pik-service.ru/attachment/0/592/pik-group-1h2016-ifrs-statements_7247063180dc27579948d23c7954a680.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                    Сonsolidated Financial Statements for the 6 months ended 30 June 2016
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2015 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="http://pik-group.com.media.pik-service.ru/attachment/0/580/fs-2015_12m_eng_final-for-print__0449d25fad46385a6f35997d27225f33.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 12 months ended 31 December 2015
                        </a>
                        <a target="_blank" href="http://pik-group.com.media.pik-service.ru/attachment/0/580/fs_pik_6m-2015_eng_final_7a50074ea81e5d8fb9fc07f3405a52ca.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Сonsolidated Financial Statements for the 6 months ended 30 June 2015
                        </a>
                    </div>
                    </div>
                    <div class="mt-4">
                        <h3 class="my-3"> 2014 </h3>
                    <div class="row gap-2">
                        <a target="_blank" href="http://pik-group.com.media.pik-service.ru/attachment/0/568/pik-ifrs-2014-eng_f4c1451d179dd3fc0e0df86164423667.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Consolidated Financial Statements for the year ended 31 December 2014
                        </a>
                        <a target="_blank" href="https://pik-group.com.media.pik-service.ru/attachment/0/568/pik_group_fy2014_financial_-results_eng_1a8178892657f31c62ffd258f9e6ef9d.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Management review of the 2014 financial results
                        </a>
                        <a target="_blank" href="http://pik-group.com.media.pik-service.ru/attachment/0/568/fs-6m-2014_final_eng-reduced-size_35141b6c099b9500f449bce9af99f43f.pdf" class="d-block border rounded py-3 px-2 d-flex gap-3 col-12 col-sm-5">
                            <svg width="60" height="45" xmlns="http://www.w3.org/2000/svg"><path d="M0 0v45h34V13.127L20.95 0H0zm1.79 1.8h17.894v12.6h12.527v28.8H1.789V1.8zm19.684 1.273l9.471 9.527h-9.471V3.073zm-11.349 18.97c-.716 0-1.384.077-1.901.2V32.4h1.611v-4.025c.154.017.29.017.458.017.867 0 1.856-.351 2.464-1.072.472-.552.762-1.255.762-2.292 0-.89-.276-1.684-.825-2.205-.608-.58-1.489-.78-2.569-.78zm6.48 0c-.699 0-1.353.077-1.824.2v10.125c.367.06.93.106 1.492.106 1.321 0 2.328-.334 3.01-1.04.775-.764 1.324-2.156 1.324-4.374 0-2.067-.517-3.41-1.356-4.163-.608-.566-1.461-.854-2.646-.854zm5.323.046V32.4h1.629v-4.45h2.418v-1.361h-2.418v-3.076h2.586v-1.424h-4.215zm-5.064 1.269c1.415 0 2.065 1.346 2.065 3.688 0 3.136-1.017 4.085-2.142 4.085-.105 0-.259 0-.395-.032v-7.695c.136-.029.304-.046.472-.046zm-6.466.014c1.094 0 1.489.812 1.489 1.775 0 1.178-.59 1.913-1.653 1.913-.168 0-.277 0-.399-.032V23.45c.136-.045.336-.077.563-.077z" fill="#2D2D2C" fill-rule="nonzero"></path></svg>
                                Consolidated Financial Statements for the 6 months ended 30 June 2014
                        </a>
                    </div>
                    </div>
                </div>

                <div class="mt-5">
                    
                </div>
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
               <div class="mt-4">
                <h1 class="my-3">Governance structure</h1>
                <h3 class="mt-2 mb-4"> Corporate governance </h3>
                <p class="mb-2">As a global technology company, we seek to adhere to leading global corporate governance standards, making it attractive for business development and offering confidence to investors.</p>
                <p class="mb-2">
                    Acknowledging the importance of a high level of corporate governance for a successful performance of the business and
                     for achievement of a mutual understanding among all the persons interested in the Сompany’s activities, 
                     we have developed its Code of Corporate Governance. The Code aims to ensure the effective protection of 
                     the rights and interests of the shareholders, the transparency of decision-making, the professional 
                     and ethical responsibility of the members of the Board of Directors, other bodies of management of the Company and the shareholders, a more information openness of the Company,
                     as well as the effective control of the financial and economic operations of the Company. The Board of Directors of the Company,
                      and the Company’s Management Board, CEO and employees observe the compliance with the Code.</p>
                      <p class="mb-2">
                        The Board of Directors is constantly seeking to improve its effectiveness. 
                        This includes working to achieve the optimal balance of professional knowledge and skills within the Board,
                         as well as a balance among executive, non-executive and independent directors.
                      </p>
                      <p class="mb-2">
                        Currently four of the nine members of the Board are independent directors in compliance with the criteria
                         established by the Federal Law «On Joint Stock Companies»,
                         the Company’s Corporate Governance Code and the UK Combined Corporate Governance Code.
                      </p>
                      <p class="mb-2">
                        Participation of independent directors in the work of the Board of Directors allows the Company 
                        to adopt informed decisions benefiting all shareholders, and guarantees the transparency of our governance process.
                      </p>
                      <div class=" py-4 ">
                        <img src="/img/chain.png" class="img-fluid d-block mx-auto">
                    </div>
               </div>

            </div>
          </div>
    </div>
</section>

<!- Here lies the footer plus endscripts->
    <%- include("../partials/home/footer+endscripts.ejs") %>
 <!- end of footer and scripts ->

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"789d83543833b870","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>