<!doctype html>
<html lang="en">

<head>

  
  <title>  Home || PIK Assets management Real Estate</title>
  <%- include("../partials/home/headLinks.ejs") %>
  
<style>
  .more{
    display: none;
  }
  .more_show {
    display: inline;
  }
  .dots{
    cursor: pointer;
    color: green;
  }
  .dot_hide{
    display: none;
  }
  .primaryColor {
    color: #cfb579;
  }
  .team_img{
    text-align: center;
  }
</style>
<script nonce="d21349ee-bd85-40a7-be05-bf2431d521bc">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>

  <!-  Beginning of header ->
  <%- include("../partials/home/navbar.ejs") %>
  <!- ####### end of header->

<section class="banner_part">
<div class="container">
<div class="row align-content-center">
<div class="col-lg-6">
<div class="banner_text aling-items-center">
<div class="banner_text_iner">
<h5>PIK Assets Management</h5>
<h2>Everyone Deserves
the Opportunity of owning
a Property or investing in one</h2>
<p> With our parent company Ranked <a href="#">#30 in forbes list World largest Public Real Estate Companies in 2021</a>, with a market value of over $9 Billion. 
You can trust us to manage your assets.
</p>
<a href="#" class="btn_1 banner_btn ">Sign up</a>
<div class="d-none d-xl-block banner_social_icon">
<ul class="list-inline">
<li class="list-inline-item"><a href="#"><span class="ti-facebook"></span>facebook</a><span class="dot"><i class="fas fa-circle"></i></span></li>
<li class="list-inline-item"><a href="#"><span class="ti-twitter-alt"></span>twitter</a><span class="dot"><i class="fas fa-circle"></i></span></li>
<li class="list-inline-item"><a href="#"><span class="ti-instagram"></span>instagram</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<a href="https://www.youtube.com/watch?v=pBFQdxA-apI" class="popup-youtube video_popup"><span class="ti-control-play"></span></a>
</section>


<section class="team_part">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="team_img"></div>
</div>
<div class="offset-lg-1 col-lg-5">
<div class="team_member_text">
<h2>What we do <br>
The Team That Cares</h2>
<p>We sell low cost houses to passive investors from the Moscow and all over the World. 
All of our properties are located in Europe, North America and Africa. 
After your purchase, we effectively become your long-term tenants and agree to pay you
guaranteed rent and maintain the properties at our cost. 
You fully own the property, benefit from long term guaranteed rental income and future property capital growth,
but do not need to do anything – we do it all.<a href="/about"> Read more...</a> </p>
<ul>
<li class="d-block"><span class="ti-check-box"></span> We offer loans  </li>
<li class="d-block"><span class="ti-check-box"></span> Joint Property Ownership </li>
<li class="d-block"><span class="ti-check-box"></span> We flip houses  </li>
<li class="d-block"><span class="ti-check-box"></span> We Can help you acquire properties around the world</li>
<li class="d-block"><span class="ti-check-box"></span> We accept investors from all over the world</li>
<li class="d-block"><span class="ti-check-box"></span> Our Payment plan is borderless</li>
<li class="d-block"><span class="ti-check-box"></span>Free financial advice for new investors (contact our support)</li>

</ul>
<a href="/about" class="btn_1">Read More</a>
</div>
</div>
</div>
</div>
<img src="img/section_overlay.png" alt="">
</section>


<div class="passion_part">
<div class="container">
<div class="row">
<div class="col-lg-5">
<div class="section_tittle">
<h1>Investment Plans
  <p style="color : #cfb579"> You (investors) can speak with our staff for advise in choosing the plan suitable for you.</p>
 </h1>
</div>
</div>
</div>
<div class="row justify-content-center g-4">
<div class="col-md-6 col-lg-5">
<div class="single_passion">
<div class="single_passion_item">
<a href="#" class="passion_icon"> 
<img src="/img/partnership-4.png" alt="">
 </a>
<h4>Shared cluster</h4>
<h4> $100 - $999</h4>
<div style="text-align: left; font-weight: bold;">
<p><span class="ti-check-box primaryColor"></span> Roi - 7%  </p>
<p><span class="ti-check-box primaryColor"></span> duration - 7 days</p>
</div>
<br>
<p style="text-align: left;">Here investors money are combined and used to purchase a property, refurnish/renovate it and flip the property <span class="dots">back...</span> <span class="more">back for cash to pay back investors. this process is automated and does not necessarily depend on the sale of a particular property.</span></p>
<a href="#" class="btn_2">Get Started <span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-5">
<div class="single_passion">
<div class="single_passion_item">
<a href="#" class="passion_icon"><img src="/img/partnership-4.png" alt="">
</a>
<h4>Shared cluster 2</h4>
<h4> $1000 - $15,000</h4>
<div style="text-align: left; font-weight: bold;">
<p><span class="ti-check-box primaryColor"></span> Roi - 16.5% </p>
<p><span class="ti-check-box primaryColor"></span> duration - 5 days</p>
</div>
<br>
<p style="text-align: left;">Here investors money are combined and used to purchase a property, refurnish/renovate it and flip the property <span class="dots">back...</span> <span class="more">back for cash to pay back investors. this process is automated and does not necessarily depend on the sale of a particular property.</span></p>
<a href="#" class="btn_2"> Get Started<span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-5">
<div class="single_passion">
<div class="single_passion_item">
<a href="#" class="passion_icon"> <img src="/img/partnership.png" alt="">
 </a>
<h4>Partnership cluster</h4>
<h4> $10,000 - $50,000</h4>
<div style="text-align: left; font-weight: bold;">
<p><span class="ti-check-box primaryColor"></span>  intial payment - 25% </p>
<p><span class="ti-check-box primaryColor"></span> Lifetime Payment of 5% per month </p> 
</div>
<br>
<p style="text-align: left;">
Here investors own <span style="color : green;">50%</span> of the property been bought, after purchase of the property
we effectively become your long-term <span class="dots">tenants...</span> <span class="more">tenants and agree to pay you guaranteed rent and maintain the properties at our cost.You fully own the property</span> 

</p>
<a href="#" class="btn_2">Get Started <span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-5">
<div class="single_passion">
<div class="single_passion_item">
<a href="#" class="passion_icon"> <img src="/img/keys.png" alt="">
 </a>
<h4>Landlord Cluster</h4>
<h4> $50,000 - $1,000,000</h4>
<div style="text-align: left; font-weight: bold;">
<p><span class="ti-check-box primaryColor"></span>  intial payment - 30% </p>
<p><span class="ti-check-box primaryColor"></span> Lifetime Payment of 12% per month</p> 
</div>
<br>
<p style="text-align: left;">Here you own <span style="color : green;">100%</span> of the property been bought, after purchase of the property
we effectively become your long-term <span class="dots">tenants...</span> <span class="more">tenants and agree to pay you guaranteed rent and maintain the properties at our cost.You fully own the property</span> </p>
<a href="#" class="btn_2">Get Started <span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
    const showMore = function(e){
      e.classList.toggle("dot_hide")
      e.nextElementSibling.classList.toggle("more_show")
    }
    const dots = document.querySelectorAll(".single_passion_item .dots")
    dots.forEach(dot=>{
      dot.addEventListener("click", ()=>showMore(dot))
    })

</script>

<div class="apartment_part">
<div class="container">
<div class="row justify-content-between align-content-center">
<div class="col-md-8 col-lg-7 ">
<div class="section_tittle">
<h1>Why Choose us </h1>
</div>
</div>
<div class="col-md-4 col-lg-5">
<div class="view_more_btn float-right d-none d-md-block">
<a href="#" class="btn_2">Read More <span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
</div>
</div>

<section class="">
<div class="container">
<div class="row">

  <div class=" mb-3 col-lg-6">
<div class="team_img">
<img src="/img/pik.png" alt="">
</div>
</div>

<div class=" offset-lg-1 col-lg-5">
<div class="team_member_text">

<ul>
<li><span class="ti-check-box"></span> we ranked #30 in forbes list World largest Public Real Estate Companies in 2021  </li> <br/>
<li><span class="ti-check-box"></span> We have a market value of $9 billion </li> <br/>
<li><span class="ti-check-box"></span> Through our website anyone around the world can start earning</li> <br/>
<li><span class="ti-check-box"></span> 24/hrs customer support </li> <br/>
<li><span class="ti-check-box"></span> No need for in depth knowledge about real estate before starting</li> <br/>
<li><span class="ti-check-box"></span> Our investment plans are available to all persons around the world</li> <br/>
<li><span class="ti-check-box"></span> We have a friendly interface </li> <br/>

</ul>
</div>
</div>

</div>
</div>
</section>

<div class="room_part">
<div class="container-fluid">
<div class="row">
<div class="col-md-6 col-lg-6">
<div class="room_1">
<img src="/img/room_1.png" alt="">
<div class="room_text_1">
<h1>Real Estate  <br> For Everyone <br> <small style="color: #cfb579;"> The new Gold</small></h1>
<a href="#" class="btn_2">Get started <span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
<div class="col-md-6 col-lg-6">
<div class="room_2">
<img src="/img/room_2.png" alt="">
<div class="room_text_2">
<h1>Own a property <br>today with <br> few clicks </h1>
<a href="#" class="btn_2">Get started <span class="ti-arrow-right"></span></a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="cta_part">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6">
<div class="cta_iner">
<h1> Our Goal </h1>
<p>Our main pursuit is to give people of different status all around the world equal Opportunity to get started in Real Estate </p>
<a href="#" class="cta_btn">Sing Up</a>
</div>
</div>
</div>
</div>
</div>


<div class="blog_part">
<div class="container">
<div class="row">
<div class="col-sm-8 col-lg-5">
<div class="section_tittle">
<h1>Read Latest
News From Our Blog</h1>
</div>
</div>
</div>


<div id="blog_loader" class="text-center py-5 row">
          <div class="stage col-12">
            <div class="dot-carousel mx-auto"></div>
          </div>
  </div>
<div class="row">
<div class="col-md-6 col-lg-7">
<div class="single_blog" id="single_blog">

</div>
</div>

<div class="col-md-6 col-lg-5">
<div class="right_single_blog" id="right_blogs">

</div>
</div>

</div>
</div>
</div>

<!- Here lies the footer plus endscripts->
  <%- include("../partials/home/footer+endscripts.ejs") %>

 <!- end of footer and scripts ->
<script>
  


  // my codes
  const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
  let single = "";
  let sideContent = ""
  const imgDefault = "http://0.news.cdn.pik-service.ru/attachment/46000/46747/1_artboard-3_46a6cce4a660344cfe32e71318791d71_6779105e26920fa7e4fd726e26442223.jpg"
  const getBlogs = function(e){
    e.forEach((blog, index)=>{
    if(index == 0){
    let date = new Date(blog.publishedAt*1000)
    single = `
      <div class="appartment_img">
      <img src="${blog.preview || blog.previewWater || imgDefault}" alt="${blog.title}">
      </div>
      <div class="single_appartment_content">
      <p>${date.getDay() + " " + month[date.getMonth()] + " "+ date.getFullYear()}</p>
      <a target="_blank" href="https://pik-group.com/about/news-and-reports/news/${blog.id}">
      <h4>${blog.title}</h4>
      </a>
      </div>
      </div>
    `
    }else{
      let date = new Date(blog.publishedAt*1000)
      sideContent +=  `

      <div class="single_blog">
        <div class="media gap-2 d-flex">
        <img src="${blog.preview || blog.previewWater}" class="mr-3"  alt="${blog.title}">
        <div class="media-body align-self-center">
        <a target="_blank" href="https://pik-group.com/about/news-and-reports/news/${blog.id}">
        <h5 class="mt-0">${blog.title}</h5>
        </a>
        <ul class="list-unstyled">
        <li><span class="ti-time"></span> ${month[date.getMonth()] + " " +date.getDay()}</li>
        </ul>
        </div>
        </div>
    </div>
      `
    }
    })
      return {single, sideContent}
  }
  // fetching blogs
  fetch("https://api.pik.pikweb.net/v2/news/articles?orTags=mainpage-news-pik-group.com&limit=4&page=1")
    .then(res => res.json())
    .then(d=> d.items)
    .then(getBlogs)
    .then(template=>{
      document.getElementById("blog_loader").style.display = "none"
      document.getElementById("single_blog").innerHTML = template.single
      document.getElementById("right_blogs").innerHTML = template.sideContent
      
    })
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"789d8332596b0bcc","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>

</html>