<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Sign into your dashboard || PIK Assets management Real Estate </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Javascript Assets -->
    <script src="/limestone/js/app.js" defer></script>
    
    <style>
.strokeLine {
    border-top: 0px;
    border-inline: 0px;
    background: transparent;
}
.bg_dot{
    background: url("/img/dot.jpg");
}
.bg{
    background: url("/img/moving.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.sizex100{
    width: 150px;
}

#error{
  opacity: 0;
  transition: opacity .4s ease-out;
}
/* ############ */
    </style>
</head>
<body>

  <div class="container-fluid vh-100 ">
    <div class="row h-100  align-items-center bg_dot">
        <div class="d-none d-md-block col bg h-100" id="auth_image">
        </div>
      <!-- Login section -->
      <div class=" col-md-6 col-lg-5 px-md-3 px-lg-5 " id="login">
          <div class="sizex100 text-center my-5 mx-auto">
              <a href="/pik-home/">
                <svg viewBox="0 0 52 21"><path d="M0 0H9.18478C11.1442 0 12.8163 0.359333 14.2011 1.078C15.5859 1.79667 16.6409 2.786 17.3663 4.046C18.0917 5.306 18.4543 6.75733 18.4543 8.4C18.4543 10.08 18.0822 11.5593 17.338 12.838C16.5938 14.1167 15.5341 15.1153 14.1587 15.834C12.7833 16.5527 11.1442 16.912 9.2413 16.912H6.07609V21H0V0ZM6.07609 5.18V11.732H8.73261C9.91957 11.732 10.8051 11.4053 11.3891 10.752C11.9732 10.0987 12.2652 9.31467 12.2652 8.4C12.2652 7.448 11.9685 6.67333 11.375 6.076C10.7815 5.47867 9.90072 5.18 8.73261 5.18H6.07609ZM20.5174 0H26.5935V21H20.5174V0ZM35.4957 12.544V21H29.4196V0H35.4957V8.708L42.7587 0H49.8522L41.2043 10.192L52 21H43.8326L35.4957 12.544Z" fill="#FC4C02"></path></svg>
              </a>
            </div>
              <h2 class="text-center"> Sign in</h2>
              <h4 class="text-center fs-6 text-dark error" style="opacity: .7;"> <%= messages.error ? messages.error : "" %> </h4>
            <form id="submitForm" method="POST" action="/dashboard/auth/login">
                    <div class="form-floating">
                      <input type="email" required name="email" class="form-control strokeLine"  placeholder="Email">
                      <label for="floatingPassword">Email Address</label>
                    </div>
                    <div class="form-floating">
                      <input name="password" required type="password" class="form-control strokeLine"  placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <div class="text-center my-3">
                      <button type="submit" class="btn_1 px-4 py-3 px-md-5 py-md-3">Log in </button>
                  </div>
                  <p class="mb-5">
                      have an account ? <a href="/pik-home/register" onclick="callRegister()"> Sign up</a>
                  </p>
            </form>
      </div>
      </div>
    </div>

    <script>
        const form = document.forms[0]
        
        form.addEventListener("submit", function(e){
            const email = document.forms[0].email
            const password = document.forms[0].password
            if(!email.value.trim() || !password.value.trim()){
                e.preventDefault()
                empty_field = !Boolean(email.value.trim()) ? "email" : "password"
                document.querySelector(".error").innerText = empty_field + " field cannot be empty"
                return null;
            }
        })
    </script>
</body>
</html>