<div class="scrollbar-sm flex space-x-3 overflow-x-auto pb-4">
    <div class="w-48 shrink-0 rounded-lg bg-gradient-to-br from-amber-400 to-orange-600 p-[3px] cursor-pointer">
        <!-- make one automatically selectable -->
        <div class="rounded-lg bg-white p-3 dark:bg-navy-700">
            <div class="flex items-center justify-between">
                <p>Bitcoin</p>
                <img src="/limestone/images/logos/bitcoin.svg" class="h-6 w-6" alt="logo" />
            </div>

            <div class="mt-4 flex items-end justify-between">
                <p class="text-xl font-medium text-slate-700 dark:text-navy-100">
                    .739
                </p>
                <p>$7,946.00</p>
            </div>
        </div>
    </div>

    <div class="w-48 shrink-0 rounded-lg bg-gradient-to-br from-purple-500 to-indigo-600 p-[3px] cursor-pointer">
        <div class="rounded-lg bg-white p-3 dark:bg-navy-700">
            <div class="flex items-center justify-between">
                <p>Litecoin</p>
                <img src="/limestone/images/logos/litecoin.svg" class="h-6 w-6" alt="logo" />
            </div>

            <div class="mt-4 flex items-end justify-between">
                <p class="text-xl font-medium text-slate-700 dark:text-navy-100">
                    3.545
                </p>
                <p>$2,589.00</p>
            </div>
        </div>
    </div>
    <div class="w-48 shrink-0 rounded-lg bg-gradient-to-br from-info to-info-focus p-[3px] cursor-pointer">
        <div class="rounded-lg bg-white p-3 dark:bg-navy-700">
            <div class="flex items-center justify-between">
                <p>Ethereum</p>
                <img src="/limestone/images/logos/ethereum.svg" class="h-6 w-6" alt="logo" />
            </div>

            <div class="mt-4 flex items-end justify-between">
                <p class="text-xl font-medium text-slate-700 dark:text-navy-100">
                    5.589
                </p>
                <p>$11,499.00</p>
            </div>
        </div>
    </div>
</div>


<div class="">
    <div>
        <!-- GIFTCARD BUYING SHOULD ALSO HAVE A DISABLED WAITTIME -->
      </div>
      <div class="space-y-3 text-xs+">
        <div class="flex justify-between">
          <p class="font-medium text-slate-700 dark:text-navy-100">
            Amount 
          </p>
          <p class="text-right">$2000</p>
        </div>
        <div class="flex justify-between">
          <p class="font-medium text-slate-700 dark:text-navy-100">
            sharedcluster
          </p>
          <p class="text-right">2</p>
        </div>
        <div class="flex justify-between">
          <p class="font-medium text-slate-700 dark:text-navy-100">
            duration
          </p>
          <p class="text-right">7 days</p>
        </div>
        <div class="flex justify-between">
          <p class="font-medium text-slate-700 dark:text-navy-100">
            Last Appointment
          </p>
          <p class="text-right">25 May 2021</p>
        </div>
        <div class="flex justify-between">
          <p class="font-medium text-slate-700 dark:text-navy-100">
            Register Date
          </p>
          <p class="text-right">16 Jun 2020</p>
        </div>
      </div>
</div>
<button class="w-full btn mt-6 h-10 bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
    Buy Giftcard
</button>
